<div class="kk-container">
	<h1 ng-hide="gameService.gameResult">The game is on!</h1>
    <h1 ng-show="gameService.gameResult">The game has ended! You {{gameService.gameResult}} the game!</h1>
	<kk-game
        field-size="gameService.fieldSize"
        current-location="gameService.currentLocation"
        move-button-left="turnMediatorService.moveButtonLeft('human')"
        move-button-up="turnMediatorService.moveButtonUp('human')"
        move-button-diagonal="turnMediatorService.moveButtonDiagonal('human')"
        is-human-turn="turnMediatorService.isHumanTurn"
    ></kk-game>
    <span ng-show="!gameService.gameResult && aiPlayer.aiIsWinning">You shouldn't play suboptimal games...</span>
</div>
