<div class="jumbotron">
    <h1>What?</h1>
    <div>
        <p>You play against the computer, you always start. The game itself is simple: you move to up, left or diagonal and who has to move to the top-left corner loses the game.</p>

        <p>The game is sort of a <a target="_blank" href="http://en.wikipedia.org/wiki/Nim">Nim game</a>, so you should be start winning quite quickly.</p>

        <p>I wanted to just make something to test the newest <a href="http://yeoman.io/" target="_blank">Yeoman</a> generators for AngularJS. I also wanted to try some coding style conventions etc, just for fun.</p>
    </div>

</div>
